footer {
  position: fixed;
  bottom: 0;
}

@media (max-height:800px) {
  footer {
      position: static;
  }
}

.footer-distributed {
  background-color: #2d2a30;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 35%;
}

.footer-distributed h3 {
  color: #ffffff;
  margin: 0;
}
/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}
.footer-distributed .footer-center span{
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}
.footer-distributed .footer-icons a {
  margin-bottom: 20px;
  display: inline-block;
  width: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 16px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
}
