<footer class="footer-distributed page-conatiner">

  <div class="footer-left">
      <h3>logo</h3>
  </div>

  <div class="footer-center">
    <span>Sample footer text</span>
  </div>
  <div class="footer-right">
      <div class="footer-icons">
          <a href="#" style="background-color:#375596;"><i class="fa fa-facebook"></i></a>
          <a href="#" style="background-color:#C03BA3;"><i class="fa fa-instagram"></i></a>
          <a href="#"style="background-color:#256CA3;"><i class="fa fa-linkedin"></i></a>
          <a href="#"style="background-color:#A3D0F4;"><i class="fa fa-twitter"></i></a>
      </div>
  </div>
</footer>
