<div class="container-1 page-conatiner">
   <h1>Business Technology Solutions</h1>
   <p>Sample text click to select the text box. Click again or double click to start editing the text</p><br>
   <div class="container-fluid">
    <div class="grid-container">
      <div class="grid-item item-1 ">
        <img src="/assets/img/item.png" class="img">
      </div>
      <div class="grid-item item-2">
       <p>card</p>
     </div>
     <div class="grid-item item-3">
       <img src="/assets/img/item3.png" alt="" class="img">
     </div>
     <div class="grid-item item-4 ">
       <img src="/assets/img/item4.png" class="img">
     </div>
     <div class="grid-item item-5">
       <p>card</p>
     </div>
     <div class="grid-item item-6">
       <img src="/assets/img/item6.png"class="img">
     </div>
    </div>
   </div>
</div>
